<div class="row align-items-center justify-content-between">
  <div class="col-4">
    <h2> {{ book.title }} </h2>
  </div>
  <div class="col-4">
    <a 
    class="btn btn-secondary btn-sm"
    [routerLink] = "['/books', book.id, 'edit']" >Edit</a>
  </div>
</div>
<hr />
<div class="card">
  <div class="card-header">Details</div>
  <div class="card-block">
    <h2 class="card-title" >Description</h2>
    <p class="card-text" > {{ book.description }} </p>
  </div>
  <!--add btn for Previous and Next-->
  <div class="card-footer text-muted">
    <div class="btn-group">
      <button 
      *ngIf="book.prevId" 
      class="btn btn-secondary btn-sm"
      (click)="onPrev()" >Previous</button>
      <button 
      *ngIf="book.nextId" 
      class="btn btn-secondary btn-sm"
      (click)="onNext()" >Next</button>
    </div>
  </div>
</div> 

<ul class="nav nav-tabs">
  <li class="nav-items" >
    <a class="nav-link" 
    routerLinkActivate="active"
    [routerLink]="['/books', book.id, 'cotent']" >Content</a>
  </li>
   <li class="nav-items" >
    <a class="nav-link" 
    routerLinkActivate="active"
    [routerLink]="['/books', book.id, 'reviews']" >Reviews</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active">
    <router-outlet></router-outlet>
  </div>
</div>